.sidebar {
  width: 9vh;
  height: 100vh;
  flex-shrink: 0;
  border-radius: 0vh 6vh 6vh 0vh;
  background: var(--main-blue, #00f);
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 255, 0.15);
  transition: width 0.3s ease; /* Add a smooth transition effect on width change */
  z-index: 20;
}

.sidebar.expanded {
  width: 25vh; /* Set the expanded width */
}
.logo {
  fill: #fff;
  width: 15vh;
  height: 10vh;
  flex-shrink: 0;
  margin-top: 12vh;
  margin-left: 3vh;
}
.side.true {
  border-radius: 0vh 1vh 1vh 0vh;
  background: #fff;
  width: 0.7vh;
  height: 9vh;
  flex-shrink: 0;
}
.side {
  background: var(--main-blue, #00f);
  width: 1vh;
  height: 9vh;
  flex-shrink: 0;
}
.img {
  fill: #fff;
  width: 3vh;
  margin-left: 1vh;
}
.name {
  color: #fff;
  margin-left: 2vh;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}
.myDiv {
  display: flex;
  text-align: center;
  align-items: center;
}
.oneDiv.expanded {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.oneDiv {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.buttom {
  margin-top: 5vh;
}
