button {
    border-radius: 0.4vi;
    color: white;
    width: 7vw;
    margin-left: 3vi;
    border-color: white;
}

.rightButton {
    color: black;
    width: auto;
}

.reka {
    /* background-color: F3F3F3; */
    background-color: #F3F3F3;
}

.block1 {
    background-color: #F3F3F3;
    padding: 1vi;
    width: 38vw;
    height: 30vh;
    border-radius: 1vi;
    border: 1px solid #D200FF;
    gap: 5px;
    margin-left: 3vi;
}

.block1Input {
    display: flex;
    flex-direction: row;
}

.block2 {
    background-color: #F3F3F3;
    padding: 1vi;
    width: 38vw;
    height: 28vh;
    border-radius: 1vi;
    border: 1px solid #D200FF;
    gap: 3px;
    margin-left: 3%;
}

.block3 {
    background-color: #F3F3F3;
    padding: 1vi;
    width: 38vw;
    height: 30h;
    border-radius: 1vi;
    border: 1px solid #D200FF;
    gap: 5px;
    margin-left: 3vi;

}

.block12 {
    display: flex;
    flex-direction: row;
}

.inside {
    color: #D200FF;
    width: max-content;
    border-radius: 5px;
    display: inline;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    margin-left:2vi;
    border: 1px solid black;
 
}

input {
    margin-left: 3vi;
}