/* button {
    border-radius: 0.4vi;
    color: white;
    width: 7vw;
    margin-left: 3vi;
    border-color: white;
} */

.firstSentence{
    margin-left: 6vw;
}
.rightButtons {
    display: flex;
    flex-direction: row;
}

.reka {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: row;
    height: 6vh;
    padding-top: 20px;
}
.wrapAll{
    width: 86vw;
    height: 80vh;
    background-color: aquamarine;
    margin-left: 6vw;
    margin-top: 2vh;
}