/* button {
    border-radius: 0.4vi;
    color: white;
    width: 7vw;
    margin-left: 3vi;
    border-color: white;
} */

.rightButtons{
    display: flex;
    flex-direction: row;
}
.reka {
    background-color: #F3F3F3;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    height: 10vh;
}

