.all{
    background: #FFF;
    display: inline-flex;
    padding: 20px 0px 12px 0px;
    align-items: flex-start;
    gap: 1vw;
    flex-direction: row;
    margin-left: 7vw;
}
.existFilter{
    border-bottom: 1px solid var(--black, #030406);
    background: #FFF;
    width: 83%;
    height: 75px;
    flex-shrink: 0;
    margin-left: 10vw;

    /* text */
    color: #000;
    font-family: Poppins;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 22vw;
    line-height: 149.3%;
    height: 7vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 1vh;

}
.leftDiv{
    margin-left: 3vw;
    display: flex;
    width: 16vw;
    height: 10vh;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: Assistant;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.compare{
    border-radius: 8px;
    border: 1px solid var(--black, #030406);
    background: #F6F6F6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    width: 9vw;
    height: 6vh;
    justify-content: center;
    align-items: center;
    gap: 0.1vw;
    flex-shrink: 0; 
    font-size: 1vw;
}
.compareImg{
    width: 3vw;
    height: 3vh;
    flex-shrink: 0;
}
.view{
    border-radius: 8px;
    border: 1px solid var(--black, #030406);
    background: #F6F6F6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    width: 5vw;
    height: 6vh;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;
    flex-shrink: 0;
    font-size: 1vw;
}
.viewImg{
    display: flex;
    height: 3vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}
.amongDiv{
    display: flex;
    width: 33vw;
    align-items: center;
    gap: 672px;
}
.reset{
    border-radius: 8px;
    border: 1px solid var(--black, #030406);
    background: #F6F6F6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    width: 5vw;
    height: 6vh;
    justify-content: center;
    align-items: center;
    gap: 0.01vw;
    flex-shrink: 0;
    font-size: 1vw;
}
.resetImg{
    fill: var(--black, #030406);
    width: 2vw;
    height: 3vh;
    flex-shrink: 0;
}
.sort{
    border-radius: 8px;
    border: 1px solid var(--black, #030406);
    background: #F6F6F6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    width: 5vw;
    height: 6vh;
    justify-content: center;
    align-items: center;
    gap: 0.1vw;
    flex-shrink: 0;
    font-size: 1vw;
}
.sortImg{
    fill: var(--black, #030406);
    width: 2vw;
    height: 3vh;
    flex-shrink: 0;
}
.filter{
    display: flex;
    width: 5vw;
    height: 6vh;
    justify-content: center;
    align-items: center;
    gap: 0.1vw;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--black, #030406);
    background: #F6F6F6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
    font-size: 1vw;
}
.filterImg{
    width: 2vw;
    height: 3vh;
    flex-shrink: 0;
    fill: var(--black, #030406);
}
.buttonsWord{
    color:#000000;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
  }