label {
    margin-left: 2.5vw;
}

.box {
    width: 34vw;
    margin-Left: 7vw;
    height: 20vh
}

.grayBox {
    width: 34vw;
    margin-Left: 7vw;
    height: 25vh;
    border: 1px solid black;
    border-radius: 1vi;
    padding-left: 1vi;
    padding-top: 1vi;
    background-color: #f8f8f8;
}

.word {
    border: 1px solid #FF00FF;
    border-radius: 0.3vi;
    width: 40px;
    /* padding-left: 1vi;
    padding-top: 3px;
    padding-right: 1vi;
    margin-left: 3vi; */
}

.inputWrap {
    margin-left: 6vw;
    margin-top: 3vi;
}

.input {
    border: 1px solid #FF00FF;
    border-radius: 0.3vi;
    padding: 0.5vi;
}
.IWrap{
    display: flex;
    flex-direction: row;
}