.first-screen {
  width: 90vw;
  height: 70vh;
  /* size: 80%; */
  margin-left: 80px;
}

.container1 {
  width: 52vw;
}
.general-details {
    text-align: left;
    color: #030406;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    
}
.company-details {
  text-align: "left";
  color: #0000ff;
  font-size: 12;
  font-family: "Poppins";
  font-weight: "600";
  line-height: 2.4;
  letter-spacing: 0.54;
  word-wrap: "break-word";
}

.title1 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  margin-top: 30px;
}

.table1 {
  display: grid;
  grid-template-columns: auto auto;
}

.right-culomn1 {
  margin-top: auto;
}

.left-culomn1 {
  margin-top: auto;
}

.box1 {
  display: grid;
  grid-template-columns: 12.5vw 12.5vw 12.5vw;
  grid-row-gap: 1px;
  margin-top: 1px;
}

.box2 {
  margin-top: 1px;
}

.button-next1 {
  margin-left: 160vh;
  margin-top: 20px;
}
