.first-screen {
    width: 90vw;
    height: 70vh;
    margin-left: 80px;
}

.container {
    width: 52vw;
}

.company-details {
    text-align: 'left';
    color: #0000FF;
    font-Size: 12;
    font-Family: 'Poppins';
    font-Weight: '600';
    line-Height: 2.40;
    letter-Spacing: 0.54;
    word-Wrap: 'break-word';
}

.title {

    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    margin-top: 30px;
}

.table {
    display: grid;
    grid-template-columns: auto auto;
}

.right-culomn {
    margin-top: auto;
}

.left-culomn {
    margin-top: auto;
}

.box1 {
    display: grid;
    grid-template-columns: 12.5vw 12.5vw 12.5vw;
    grid-row-gap: 1px;
    margin-top: 1px;
}

.box2 {
    margin-top: 1px;
}

.button-next {
    margin-left: 78vw;
    margin-top: 20px;
}