.second-screen {
  margin-left: 10vw;
  margin-top: 50px;
}
.shipping {
  text-align: left;
  color: #030406;
  font-size: 36px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
}
.table2 {
  display: grid;
  grid-template-columns: 50vw 50vw;
  column-gap: 345;
}
.first-line {
  display: grid;
  grid-template-columns: auto auto;
}
.title2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  margin-top: 10px;
}
.up-line {
  display: inline-flex;
}
.button-skip1 {
  margin-top: 10px;
  margin-left: 25vw;
}
.buttons {
  display: inline-flex;
  margin-left: 1000px;
  margin-top: 50px;
}
.button-next2 {
  margin-left: 15px;
}
.select {
  display: grid;
  grid-template-columns: 400px 80px;
  grid-template-rows: 25px;
}
.right-culomn2 {
  margin-bottom: 130px;
}
