.second-screen {
  margin-left: 50px;
}
.shipping {
  text-align: left;
  color: #030406;
  font-size: 36px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
}
.table2 {
  /* margin-top: 80px; */
  display: grid;
  grid-template-columns: 50vw 50vw;
  column-gap: 345;
}
.first-line {
  display: grid;
  grid-template-columns: auto auto;
}
.title2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 00;
  line-height: 28.8px;
  text-align: left;
  margin-top: 30px;
}

.up {
  display: inline-flex;
}

.buttons {
  display: inline-flex;
  margin-left: 1000px;
  margin-top: 50px;
}

.button-skip {
  margin-left: 26vw;
  margin-top: 10px;
}
.button-next2 {
  margin-left: 15px;
}
.select {
  display: grid;
  grid-template-columns: 400px 80px;
}
.right-culomn2 {
  margin-bottom: 110px;
}
.pic {
  margin-top: "35px";
  margin-left: "20px";
}
