.wraps
{
    display: flex;
     align-items: baseline;
     flex-direction: column;
     overflow-y: scroll;
     height: 85.5vh;
     margin-left: 10vw;
}
.frame
{
  display: flex;
  gap: 100px;
  width: fit-content;
  padding: 35px;
  border-color : #0008ff;
  border-style:"solid";
  border-radius: 8px ;
  border-width: 5px;     
}
.addProduct
{
    border-radius: 8px;
    opacity: 0.8;
    background: #0008ff;
    width: 100px;
    height: 30px;
    font-size: 20px;
    color:white;
}
.AddingProduct
{
    margin-left: 250px;
    border-radius: 8px;
    opacity: 0.8;
    width: 300px;
    font-size: 38px;
    color:#0008ff ;
}
.color-clarity
{
 gap:50px;
}
.cut-symmetry-polish
{
 gap:50px;
}
.Fluorescence-lab
{
 gap:50px;   
}
.attributes
{
   color:#0008ff;
   font-size: 25px;
}
.upload
{
   color:#0008ff;
   font-size: 20px;
}