.sidebar {
    width: 10vh;
    height: 100vh;
    flex-shrink: 0;
    border-radius: 0vh 10vh 10vh 0vh;
    background: var(--main-blue, #00F);
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 255, 0.15);
    transition: width 0.3s ease; /* Add a smooth transition effect on width change */
    z-index: 20;
  }
  
  .sidebar.expanded {
    width: 30vh; /* Set the expanded width */
  }
  .logo{
    fill: #FFF;
    width: 15vh;
    height: 10vh;
    flex-shrink: 0;
    margin-top: 12vh;
    margin-left: 7vh;
  }
  .side.true{
    border-radius: 0vh 1vh 1vh 0vh;
    background: #FFF;
    width: 0.7vh;
    height: 9vh;
    flex-shrink: 0;
  }
  .side{
    background: var(--main-blue, #00F);
    width: 1vh;
    height: 9vh;
    flex-shrink: 0;
  }
  .img{
    fill: #FFF;
    width: 3vh;
    margin-left: 2.5vh;
  }
  .name{
    color:#FFF;
    margin-left: 4vh;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
  }
  .myDiv{
    display:flex; 
    text-align: center;  
    align-items: center;
  } 
  .oneDiv.expanded{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }
  .oneDiv{ 
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }
  .buttom{
    margin-top: 5vh;
  }
  
