.gemit {
  margin-left: 30px;
}

.top-header {
  display: flex;
  align-items: center;
  height: 6vw;
}

.circle {
  margin-left: 40px;
    margin-top: -3vw;

  /* margin-bottom: 28px; */
  
}

.heart-bell {
  margin-left: 2.8vw;
  display: flex;
  gap: 3.3vw;
}

.right-icons {
  display: flex;
  align-items: center;
  margin-left: 750px;
}

.heart-bell-imag-circle {
  display: flex;
  gap: 37px;
  align-items: center;
}

.buyer-or-seller {
  height: 20px;
  width: 129px;
  border: 1px black solid;
  margin-top: -50px;
}

.the-whole-page {
  display: flex;
  gap: 12px;
  align-items: center;
}

.labels {
  display: flex;
  flex-direction: column;
}

.user-name {
  height: 20px;
  width: 129px;
  border: 1px black solid;
  margin-bottom: 53px;
}

.top-header-logo {
  margin-left: 5.6vw;
  padding-bottom: 0.5vw;
  font-size: 2px;
}
.imag{
  margin-top: -2.3vw;
}
