.gemit {
  margin-left: 1.5vw;
}

.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150vw;
  flex-shrink: 0;
  height: 4vw;
  margin-left: -7vw;
  /* margin-bottom: 2.5vw; */
  background-color: #f3f3f3;
  /* gap: 2vw; */
}

.circle {
  margin-left: -15px;
  margin-bottom: 28px;
  z-index: 0;
}

.heart-bell {
  display: flex;
  gap: 40px;
}

.right-icons {
  display: flex;
  align-items: center;
  margin-left: 790px;
}

.heart-bell-imag-circle {
  display: flex;
  gap: 2vw;
  align-items: center;
  margin-left: -150px;
}

.buyer-or-seller {
  height: 20px;
  width: 129px;
  border: 1px black solid;
  margin-top: -50px;
}

.the-whole-page {
  display: flex;
  /* gap: 122px; */
  align-items: center;
}

.labels {
  display: flex;
  flex-direction: column;
}

.user-name {
  height: 20px;
  width: 129px;
  border: 1px black solid;
  margin-bottom: 53px;
}

.top-header-logo {
  margin-left: -38vw;
}

.imag-circle {
  display: flex;
  align-items: center;
}

.second-word-in-logo {
  margin-top: -1.5vw;
}
