.gemit {
  margin-left: 30px;
}

.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.circle {
  margin-left: -8px;
  margin-bottom: 28px;
}

.heart-bell {
  display: flex;
  gap: 40px;
}

.right-icons {
  display: flex;
  align-items: center;
  margin-left: 750px;
}

.heart-bell-imag-circle {
  display: flex;
  gap: 37px;
  align-items: center;
}

.buyer-or-seller {
  height: 20px;
  width: 129px;
  border: 1px black solid;
  margin-top: -50px;
}

.the-whole-page {
  display: flex;
  gap: 12px;
  align-items: center;
}

.labels {
  display: flex;
  flex-direction: column;
}

.user-name {
  height: 20px;
  width: 129px;
  border: 1px black solid;
  margin-bottom: 53px;
}

.top-header-logo {
  margin-left: 30vh;
  padding-top: 14px;
  padding-bottom: 14px;
}
