.square {
  margin-top: 2vw;
  margin-left: 7vw;
  width: 4.2vw;
  height: 4.2vw;
  background: "white";
  border: 0.01vw #0000ff solid;
  border-radius: 4px;
  align-content: center;
 
}

.diamond {
  width: 2.7vw;
  height: 2.7vw;
  display: flex;
  margin: auto;
}
