.border {
  width: 150vw;
  height: 12.5vw;
  background: #f2f2ff;
  margin-top: -20px;
  border-top: 1px #0000ff solid;
  z-index: -1;
  margin-left:-10px;
}

.diamondComponent {
  display: inline-flex;
  margin-top: -10px;
}

.checkoutComponent {
  margin-top: -23px;
}
