.filterSide{
    width: 10vh;
    height:80vh;
    flex-shrink: 0;
    border-radius: 0px 36px 36px 0px;
    background: var(--purple---basic);
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 255, 0.15);
  }
  
  